/* *{
    color: blueviolet;
} practica del uso del asterisco (selector universal)*/

h1{
    font-family: monospace;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}

.caja5{
    
    justify-content: end;
}